%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1 推广人列表
      .col-sm-6 
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item 推广人管理
          %li.breadcrumb-item.active 列表

%section.content
  .card
    .p-0
      %table.table.table-bordered
        %tbody
          %tr
            %th ID
            %th 昵称
            %th 推广码
            %th 有效
            %th 操作
          - @users.each do |user|
            %tr
              %td 
                = user.desc
              %td
                = user.nick_name
              %td
                = user.try(:promoter_code).try(:code)
              %td 
                - if user.type == 'Promoter::User'
                  = brac_boolean(user.promoter_code.try(:enabled))

              %td 
                - if user.type == 'Promoter::User'
                  - if user.promoter_code.nil?
                    = link_to('生成推广码', gen_code_user_path(user), method: :patch)
                  - if user.promoter_code.present? and user.promoter_code.enabled
                    = link_to('禁止推广', disable_code_user_path(user), method: :patch)
                  - else
                    = link_to('开启推广', enable_code_user_path(user), method: :patch)

    .card-footer.clearfix
      %ul.pagination.pagination-sm.m-0.float-right
        = will_paginate @users, :container => false

