%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1 房间列表
      .col-sm-6 
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item 房间管理
          %li.breadcrumb-item.active 列表

%section.content
  .card.p-0
    %table.table.table-bordered
      %tbody
        %tr
          %th 房间号
          %th 竞猜币种合约
          %th 投注币种合约
          %th 开始时间
          %th 投注分钟
          %th 结算分种
          %th 下注金额
          %th 玩家人数
          %th 当前轮次 
          %th 删除
        - @rooms.each do |room|
          %tr
            %td 
              = room.id
            %td{style: "text-overflow = ellipsis;max-width: 100px;overflow: hidden;white-space: nowrap;resize: horizontal;"}
              = room.price_addr
            %td{style: "text-overflow = ellipsis;max-width: 100px;overflow: hidden;white-space: nowrap;resize: horizontal;"}
              = room.join_coin_addr
            %td 
              = room.next_round_at.to_i < 1 ? room.begin_at.strftime("%Y-%m-%d %H:%M") : room.next_round_at.strftime("%Y-%m-%d %H:%M")
            %td 
              = room.time_level
            %td 
              = room.interval_minute
            %td 
              = room.invent_level
            %td 
              = room.player_number
            %td 
              = room.cur_round
            %td 
              = link_to(raw('<i class="far fa-trash-alt">&nbsp;</i>'), room_path(room), data: { confirm: '确定要删除该房间吗?'}, method: :delete )

